<div class="justify-center items-center h-screen max-w-2xl mx-auto mt-10">
  <div class="w-full flex px-6 justify-center">
    <%= link_to employee_path(@employee), class: "text-yellow-400 hover:text-yellow-600 px-10" do %>
      <%= content_tag(:i, '', class: "fa-solid fa-circle-arrow-left fa-2x") %>
    <% end %>
    <h1 class="text-stone-400 text-clip text-3xl px-10"><%= I18n.t(:edit_employee) %></h1>

  </div>
  <%= render "form", employee: @employee %>
</div>