<div class="justify-center items-center max-w-2xl mx-auto mt-32">
  <div class="w-full flex px-6">
    <%= link_to employee_path(@employee), class: "text-yellow-400 hover:text-yellow-600 px-6" do %>
      <%= content_tag(:i, '', class: "fa-solid fa-circle-arrow-left fa-2x") %>
    <% end %>
    <h1 class="text-stone-400 text-clip text-3xl px-4"><%= I18n.t(:edit_employee) %></h1>
  </div>

  <div class="flex justify-center items-center max-w-2xl mx-auto">
      <%= render "form", employee: @employee %>
  </div>
</div>
