<div class="flex justify-center items-center  max-w-2xl mx-auto mt-48">
  <div class="w-full ">
    <h1 class="text-stone-400 text-clip text-3xl px-10"><%= I18n.t(:new_employee) %></h1>
    <%= render "form", employee: @employee %>
  </div>
</div>
