<div class="flex justify-center items-center h-screen max-w-2xl mx-auto ">
  <div class="w-full ">

    <h1><%= I18n.t(:new_employee) %></h1>

    <%= render "form", employee: @employee %>
  </div>
</div>
