<div class="flex justify-center items-center bg-slate-700 min-h-screen w-full">
  <div class="text-center">
    <h1><%= I18n.t(:under_development) %></h1>
    <h2 class="font-extrabold dark:text-white">Company Manager</h2>
  </div>
</div>
