@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
#photo-preview img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
}
