<nav class="fixed top-0 w-full z-50 bg-gray-800 ">
  <div class="max-w-screen-2xl mx-auto px-14 py-4">
    <div class="flex justify-around items-center flex-wrap ">

    <div class="hidden md:flex md:flex-row">
      <%= render 'layouts/change_language' %>
    </div>

      <ul class="hidden md:flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:p-0 font-medium items-center md:py-4">
        <li>
          <%= navbar_link(:employees, employees_path) %>
        </li>
        <li>
          <%= navbar_link(:add_employee, new_employee_path) %>
        </li>
      </ul>

        <%= render 'layouts/navbar_search' %>
    </div>
  </div>
</nav>
